# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# teteva.github.io

.DS_Store
.editorconfig
.env*
.eslintrc.js
.prettierignore
jsconfig.json
next.config.js
package.json
postcss.config.js
prettier.config.js
redirects.json
tailwind.config.js
yarn.lock*
/public/
/public
/rehype/
/rehype
/remark/
/remark
/scripts/
/scripts
/src/
/src

/docs/docs/*
/docs/_next/static/media

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/public/feeds/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
